{% extends 'tpo/base.html' %}

{% block javascript %}
    <script>
    </script>
{% endblock %}


{% block content %}
    {% load static %}

    <p id="demo2">{{ endTime}}</p>



    <form action="/tpo/q/?tpoNumber={{ tpoNum }}&convNumber={{ conversation.convNumber }}&questionNumber=0"
          method="post" class="navbar-form" id="nextQuestionForm">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <div class="navbar-header" style="text-align: center;">
                    <a class="navbar-brand" href="#">
                        <img src="{% static "images/logo.png" %}" width="40px">
                    </a>
                </div>
                <p class="navbar-text">TPO {{ tpoNum }} Listening</p>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right nav-button-ul">
                        <li><a class="btn btn-default navbar-btn">VIEW TEXT</a></li>
                        <li><a class="btn btn-default navbar-btn">HELP</a></li>
                        <li><a class="btn btn-default navbar-btn">REVIEW</a></li>
                        <li><a class="btn btn-default navbar-btn">BACK</a></li>
                        <li>

                            <button
                                    type="submit" class="btn btn-default navbar-btn" id="nextQuestion">NEXT
                            </button>

                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="col-lg-offset-6">
                    <p class="navbar-text">Listening {{ conversation.convNumber }} of 3</p>
                </div>
                <div>
                    <p id="demo" class="navbar-text navbar-right" style="margin-right:30px;">60m 00s</p>
                </div>
            </div>
        </nav>
        <div class="listening-part">
            <img src="{{imgPath}}">
            <div>
                <audio controls>
                    <source src="{{audioPath}}" type="audio/mpeg">
                </audio>
            </div>
        </div>

    </form>

{% endblock %}