{% extends 'tpo/base.html' %}

{% block javascript %}
    <style>
        .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }

        #myProgress {
            width: 100%;
            background-color: grey;
        }

        #myBar {
            width: 1%;
            height: 30px;
            background-color: green;
        }
    </style>
    <script>


        var elem = document.getElementById("myBar");
        var width = 1;
        var aud = document.getElementById("audioElement");
        var intervalId = setInterval(frame, 10 * aud.duration);
        function frame() {
            if (width >= 100) {
                clearInterval(intervalId);
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }

        $(".progress-bar").animate({
            width: "100%"
        }, aud.duration * 1000);
    </script>
{% endblock %}


{% block content %}
    {% load static %}

    <p id="demo2">{{ endTime }}</p>



    <form action="/tpo/q/?tpoNumber={{ tpoNum }}&convNumber={{ conversation.convNumber }}&questionNumber=0"
          method="post" class="navbar-form" id="nextQuestionForm">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <div class="navbar-header" style="text-align: center;">
                    <a class="navbar-brand" href="#">
                        <img src="{% static "images/logo.png" %}" width="40px">
                    </a>
                </div>
                <p class="navbar-text">TPO {{ tpoNum }} Listening</p>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right nav-button-ul">
                        <li><a class="btn btn-default navbar-btn">VIEW TEXT</a></li>
                        <li><a class="btn btn-default navbar-btn">HELP</a></li>
                        <li><a class="btn btn-default navbar-btn">REVIEW</a></li>
                        <li><a class="btn btn-default navbar-btn">BACK</a></li>
                        <li>

                            <button
                                    type="submit" class="btn btn-default navbar-btn" id="nextQuestion">NEXT
                            </button>

                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="col-lg-offset-6">
                    <p class="navbar-text">Listening {{ conversation.convNumber }} of 3</p>
                </div>
                <div>
                    <p id="demo" class="navbar-text navbar-right" style="margin-right:30px;">60m 00s</p>
                </div>
            </div>
        </nav>
        <div class="listening-part">
            <img src="{{ imgPath }}">
            <div id="myProgress">
                <div id="myBar"></div>
            </div>

            {#            <div class="col-xs-12 col-sm-12 progress-container">#}
            {#                <div class="progress progress-striped active">#}
            {#                    <div class="progress-bar progress-bar-success" style="width:0%"></div>#}
            {#                </div>#}
            {#            </div>#}

            <div>
                <audio id="audioElement" autoplay>
                    <source src="{{ audioPath }}" type="audio/mpeg">
                </audio>
            </div>
        </div>

    </form>

{% endblock %}