{% extends 'tpo/base.html' %}




{% block content %}
    {% load static %}
    <div style="padding: 10px 150px; font-size: 20px;">
        <div style="border-bottom: 2px solid #000000; padding-bottom: 20px;">
            <p>Talk about a book you have read that was important to you for some reason. Explain why the book was
                important
                to you. Give specific details and examples to explain your answer.</p>
        </div>
        <div style="padding-top: 20px;">
            <table style="border: 1px solid black;">
                <tr>
                    <th style="width:20%;font-size:16px;text-align:center;">Prepare your response</th>
                </tr>
                <tr>
                    <td style="text-align:left;">00:30</td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <div id="myProgress">
                            <div id="myBar"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <p>Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid
        ear splitting feedback!</p>

    <button onclick="startRecording(this);">record</button>
    <button onclick="stopRecording(this);" disabled>stop</button>

    <h2>Recordings</h2>
    <ul id="recordingslist"></ul>

    <h2>Log</h2>
    <pre id="log"></pre>

    <form name="uploadAudio" method="post" enctype="multipart/form-data" action="/tpo/salam/">
        <input id="user" name="user" type="hidden" value="salam">
        <input id="responseAudioFile" name="respFile" type="file">
        <button id="button-id" class="btn btn-danger">click</button>
    </form>


{% endblock %}

{% block javascript %}
    <script>
        //document.uploadAudio.submit();
        function __log(e, data) {
            log.innerHTML += "\n" + e + " " + (data || '');
        }
        var audio_context;
        var recorder;
        function startUserMedia(stream) {
            var input = audio_context.createMediaStreamSource(stream);
            __log('Media stream created.');
            // Uncomment if you want the audio to feedback directly
            //input.connect(audio_context.destination);
            //__log('Input connected to audio context destination.');

            recorder = new Recorder(input);
            __log('Recorder initialised.');
        }
        function startRecording(button) {
            recorder && recorder.record();
            button.disabled = true;
            button.nextElementSibling.disabled = false;
            __log('Recording...');
        }
        function stopRecording(button) {
            recorder && recorder.stop();
            button.disabled = true;
            button.previousElementSibling.disabled = false;
            __log('Stopped recording.');

            // create WAV download link using audio data blob
            createDownloadLink();

            recorder.clear();
        }
        function createDownloadLink() {
            recorder && recorder.exportWAV(function (blob) {

                var fd = new FormData();
                {#                fd.append('fileName', 'test.wav');#}
                fd.append('respFile', blob);
                fd.append('user', 'test')
                $.ajax({
                    type: 'POST',
                    url: '/tpo/salam/',
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    console.log(data);
                });

            });
        }
        window.onload = function init() {
            try {
                // webkit shim
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                navigator.getUserMedia = ( navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia);
                window.URL = window.URL || window.webkitURL;

                audio_context = new AudioContext;
                __log('Audio context set up.');
                __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
            } catch (e) {
                alert('No web audio support in this browser!');
            }

            navigator.getUserMedia({audio: true}, startUserMedia, function (e) {
                __log('No live audio input: ' + e);
            });
        };
    </script>
    <script src="{% static  "js/recorder.js" %}"></script>
    <script>
        var elem = document.getElementById("myBar");
        var width = 1;
        //var aud = document.getElementById("audioElement");
        //var intervalId = setInterval(frame, 10 * aud.duration);
        var intervalId = setInterval(frame, 10 * 30);
        function frame() {
            if (width >= 100) {
                clearInterval(intervalId);
                //window.location.href = "/tpo/listening/question/?tpoNumber=1&convNumber=1&questionNumber=1";
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }

        $(".progress-bar").animate({
            width: "100%"
        }, 30*1000);
        //}, aud.duration * 1000);
    </script>
{% endblock %}