{% extends 'tpo/base.html' %}


{% block content %}

    <h3 class="content-section-title">Your orders list</h3>
    <table class="table borderless" style="border-width: 0px;">
        <thead>
        <tr style="background-color: #f2f5f7;">
            <th>Index</th>
            <th>Code</th>
            <th>Date & Time</th>
            <th>Total Cost</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
            <th>1</th>
            <td>4243597</td>
            <td>6/24/2017 11:21</td>
            <td>34000R</td>
            <td>
                <a class="user-orders-accordion" href="javascript:void(0)" onclick="showDetails(0)">
                    <i id="icon0" class="glyphicon glyphicon-menu-down"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td id="factorDetails0" colspan="7" class="hidden" style="padding: 0px;">
                <div>
                    <table class="table" style="border-width: 0px;">
                        <thead>
                        <tr style="background-color: #f2f5f7;">
                            <th>Book Information</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for basketItem in basketItems %}
                            <tr id="basketItem{{ forloop.counter }}">
                                <td class="col-sm-7" style="border-right: 1px solid #ddd;">
                                    <div class="col-sm-offset-1 col-sm-4" style="display: inline-block;">
                                        <a href="/book/{{ basketItem.book.id }}">
                                            <img src="{{ basketItem.book.coverPhoto.url }}"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-6" style="display: inline-block;">
                                        <div>
                                            <h4>{{ basketItem.book.title }}</h4>
                                        </div>
                                        <div>
                                            <p>{{ basketItem.book.category.name }}</p>
                                        </div>
                                        <div>
                                            <p style="text-align: justify">
                                                {{ basketItem.book.description }}
                                            </p>
                                        </div>
                                        <div style="margin-bottom: 40px;">
                                            <p>
                                                {{ basketItem.book.author }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0)" style="text-decoration: none;"
                                               onclick="removeBook({{ basketItem.id }}, {{ forloop.counter }})">
                                                Delete Book from Basket
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-5">
                                    <span class="col-sm-offset-1 col-sm-4">Unit Price:</span>
                                    <span class="col-sm-offset-2 col-sm-4">{{ basketItem.book.price }} IRR</span>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>1</td>
            <td>4243597</td>
            <td>6/24/2017 11:21</td>
            <td>34000R</td>
            <td>
                <a class="user-orders-accordion" href="javascript:void(0)">
                    <i class="glyphicon glyphicon-menu-down"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        function showDetails(n) {
            var sectionId = 'factorDetails' + n;
            $("#" + sectionId).toggleClass('hidden');
            var iconSectionId = 'icon' + n;
            $("#" + iconSectionId).toggleClass('glyphicon-menu-down');
            $("#" + iconSectionId).toggleClass('glyphicon-menu-up');
        }
    </script>
{% endblock %}

